body {
   margin: 0px;
   padding: 0px;
}

header {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#logo {
   display: flex;
   margin-left: 148px;
   align-items: center;
}

#logo > p {
   font-family: lobster;
   font-size: 48px;
   color: #d1555c;
   margin: 0px;
   padding: 0px;
   position: relative;
   left: -22px;
}

#dashboard {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-right: 146px;
}

#dashboard > a {
   font-family: "roboto condensed";
   font-size: 36px;
}

#dashboard > button {
   font-family: "roboto condensed";
   font-size: 36px;
   border: none;
   border-radius: 10px;
   background-color: #d1555c;
   color: white;
   padding: 12px 41px;
}
#home {
   color: #d1555c;
}
